apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: envoy-ai-gateway-basic-openai
  namespace: converse-llm
spec:
  endpoints:
    - fqdn:
        hostname: api.openai.com
        port: 443