argoCdConfigs:
  secretMap:
    vaam-eat-aio-repo:
      type: repository
      data:
        url: "https://github.com/vaam-store/vaam-eat-aio"
        name: vaam-eat-aio
        type: git
    apple-health-export:
      type: repository
      data:
        url: "https://whythatfunction.github.io/apple-health-export"
        name: apple-health-export
        type: helm

applications:
  - name: jellyfin
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/jellyfin
    destination:
      server: https://kubernetes.default.svc
      namespace: jellyfin
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: comfyui
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/comfyui
    destination:
      server: https://kubernetes.default.svc
      namespace: comfyui
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: adminer
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/adminer
    destination:
      server: https://kubernetes.default.svc
      namespace: adminer
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: browserless
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/browserless
    destination:
      server: https://kubernetes.default.svc
      namespace: browserless
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: keycloak
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/keycloak
    destination:
      server: https://kubernetes.default.svc
      namespace: keycloak
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: remote-code
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/remote-code
    destination:
      server: https://kubernetes.default.svc
      namespace: remote-code
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: password-manager
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/password-manager
    destination:
      server: https://kubernetes.default.svc
      namespace: password-manager
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
        
  - name: endpoints
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/endpoints
    destination:
      server: https://kubernetes.default.svc
      namespace: endpoints
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
        
  - name: music
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/music
    destination:
      server: https://kubernetes.default.svc
      namespace: music
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true
  
  - name: portainer
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: default
    source:
      repoURL: https://portainer.github.io/k8s/
      targetRevision: 2.33.1
      chart: portainer
      helm:
        valuesObject:
          persistence:
            storageClass: longhorn

          service:
            type: ClusterIP

          ingress:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert-manager.io/cluster-issuer: self-signed-ca
            tls:
              - secretName: portainer-tls
                hosts:
                  - portainer.home.ssegning
            hosts:
              - host: portainer.home.ssegning
                paths:
                  - path: /
    destination:
      server: https://kubernetes.default.svc
      namespace: portainer
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: n8n-apps
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/n8n-apps
    destination:
      server: https://kubernetes.default.svc
      namespace: n8n
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: nocodb-apps
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/nocodb
    destination:
      server: https://kubernetes.default.svc
      namespace: nocodb
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: docuseal
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: external
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/home-apps/docuseal
    destination:
      server: https://kubernetes.default.svc
      namespace: docuseal
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: converse
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/ai/converse
    destination:
      server: https://kubernetes.default.svc
      namespace: converse
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: converse-endpoints
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/ai/endpoints
    destination:
      server: https://kubernetes.default.svc
      namespace: converse-llm
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: converse-llm-core
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: https://github.com/ADORSYS-GIS/ai-helm
      targetRevision: feat/model-chart
      path: charts/ai-gateway-core
      helm:
        valuesObject:
          envoyProxy:
            enabled: false
          clientTrafficPolicy:
            enabled: false
    destination:
      server: https://kubernetes.default.svc
      namespace: converse-llm
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: converse-llm-models
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: https://github.com/ADORSYS-GIS/ai-helm
      targetRevision: feat/model-chart
      path: charts/models
      helm:
        valuesObject:
          backends:
            fw-02: null
            gpt-02: null
            gcp-02: null
          models:
            fireworks-thinking:
              backends:
                fw-02:
                  enabled: false
            fireworks-instruct:
              backends:
                fw-02:
                  enabled: false
            gpt-5:
              backends:
                gpt-02:
                  enabled: false
            gpt-04:
              backends:
                gpt-02:
                  enabled: false
            gemini-flash:
              backends:
                gcp-02:
                  enabled: false
            gemini-pro:
              backends:
                gcp-02:
                  enabled: false
    destination:
      server: https://kubernetes.default.svc
      namespace: converse-llm
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true
