apiVersion: authorino.kuadrant.io/v1beta3
kind: AuthConfig
metadata:
  name: converse-api-protection
  namespace: converse-llm
spec:
  # String array
  hosts:
    - "*" # Replace with your AI Gateway host if specific
  authentication:
    "librechat-api-key":
      apiKey:
        selector:
          matchLabels:
            group: converse-api-key # Labels on your API Key Secrets
      credentials:
        authorizationHeader:
          prefix: APIKEY