argoCdConfigs:
  secretMap:
    stephane-segning-home-os-repo:
      type: repository
      data:
        url: "https://github.com/whythatfunction/home-os"
        name: home-os
        type: git

projects:
  - name: external
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: External Applications
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        server: https://kubernetes.default.svc
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"
  - name: infrastructure
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: Infrastructure Applications
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        server: https://kubernetes.default.svc
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceBlacklist:
      - group: ""
        kind: ResourceQuota
      - group: ""
        kind: LimitRange
      - group: ""
        kind: NetworkPolicy
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"
  - name: hyperswitch
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: Infrastructure Applications
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        name: "lke560008-ctx"
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceBlacklist:
      - group: ""
        kind: ResourceQuota
      - group: ""
        kind: LimitRange
      - group: ""
        kind: NetworkPolicy
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"
  - name: ai
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: AI Applications
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        server: https://kubernetes.default.svc
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceBlacklist:
      - group: ""
        kind: ResourceQuota
      - group: ""
        kind: LimitRange
      - group: ""
        kind: NetworkPolicy
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"
  - name: base-apps
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: Random normal applications
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        server: https://kubernetes.default.svc
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceBlacklist:
      - group: ""
        kind: ResourceQuota
      - group: ""
        kind: LimitRange
      - group: ""
        kind: NetworkPolicy
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"

  - name: vaam-store
    additionalLabels: { }
    additionalAnnotations: { }
    permitOnlyProjectScopedClusters: false
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    description: Vaam Store
    sourceRepos:
      - "*"
    destinations:
      - namespace: "*"
        server: https://kubernetes.default.svc
    clusterResourceWhitelist:
      - group: "*"
        kind: "*"
    clusterResourceBlacklist: [ ]
    namespaceResourceBlacklist:
      - group: ""
        kind: ResourceQuota
      - group: ""
        kind: LimitRange
      - group: ""
        kind: NetworkPolicy
    namespaceResourceWhitelist:
      - group: "*"
        kind: "*"
    orphanedResources: { }
    roles: [ ]
    syncWindows: [ ]
    sourceNamespaces:
      - "*"

applications:
  - name: cd
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/cd
    destination:
      server: https://kubernetes.default.svc
      namespace: argocd
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: storage
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/storage
    destination:
      server: https://kubernetes.default.svc
      namespace: kube-system
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: nvidia
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://nvidia.github.io/k8s-device-plugin
      targetRevision: 0.13.0
      chart: nvidia-device-plugin
      helm:
        valuesObject:
          runtimeClassName: nvidia
          nodeSelector:
            gpu-node: "true"
    destination:
      server: https://kubernetes.default.svc
      namespace: kube-system
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: cloudnative-pg
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://charts.bitnami.com/bitnami
      targetRevision: 1.0.11
      chart: cloudnative-pg
      helm:
        valuesObject:
          global:
            defaultStorageClass: longhorn-local
            security:
              allowInsecureImages: true
          operator:
            image:
              registry: bitnamilegacy
              repository: cloudnative-pg
            postgresqlImage:
              registry: bitnamilegacy
              repository: postgresql
          pluginBarmanCloud:
            enabled: true
            image:
              repository: bitnamilegacy/plugin-barman-cloud
            sidecarImage:
              repository: bitnamilegacy/plugin-barman-cloud-sidecar
    destination:
      server: https://kubernetes.default.svc
      namespace: cloudnative-pg
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: traefik
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://traefik.github.io/charts
      targetRevision: 38.0.2
      chart: traefik
      helm:
        valuesObject:
          additionalArguments:
            - "--api.dashboard=true"
            - "--api.insecure=true"
            - "--serversTransport.insecureSkipVerify=true"
            - "--log.level=ERROR"
            - "--entryPoints.web.http.redirections.entryPoint.to=:443"
            - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
            - "--entryPoints.web.http2.maxConcurrentStreams=1000"
            - "--entryPoints.websecure.http2.maxConcurrentStreams=1000"
            - "--global.sendAnonymousUsage=false"
            # Uncomment the next line if you want to use your self-signed cert for Traefik dashboard
            # - "--entrypoints.websecure.http.tls.domains[0].main=*.home.ssegning"
          logs:
            access:
              enabled: false
          service:
            loadBalancerIP: 10.10.0.140
          ports:
            web:
              forwardedHeaders:
                trustedIPs:
                  - 10.10.0.0/24
            websecure:
              forwardedHeaders:
                trustedIPs:
                  - 10.10.0.0/24
            traefik:
              expose:
                web: true
                websecure: true
          providers:
            kubernetesCRD:
              allowCrossNamespace: true
            kubernetesGateway:
              enabled: true
          
          gateway:
            namespacePolicy: All
          
          ingressRoute:
            dashboard:
              enabled: true
              entryPoints:
                - web
                - websecure
              matchRule: Host(`traefik.home.ssegning`)
              tls:
                secretName: traefik.home.ssegning-tls
          
          extraObjects:
            - |
              apiVersion: cert-manager.io/v1
              kind: Certificate
              metadata:
                name: traefik-certificate
              spec:
                secretName: traefik.home.ssegning-tls
                issuerRef:
                  kind: ClusterIssuer
                  name: self-signed-ca
                  group: cert-manager.io
                commonName: traefik.home.ssegning
                dnsNames: 
                  - traefik.home.ssegning
    destination:
      server: https://kubernetes.default.svc
      namespace: kube-system
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: cert
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/cert
    destination:
      server: https://kubernetes.default.svc
      namespace: kube-system
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
  
  - name: s3
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/s3
    destination:
      server: https://kubernetes.default.svc
      namespace: s3
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: apps
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: base-apps
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/apps
    destination:
      server: https://kubernetes.default.svc
      namespace: argocd
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  - name: redis
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: base-apps
    source:
      repoURL: registry-1.docker.io/bitnamicharts
      targetRevision: 24.0.0
      chart: redis
      helm:
        valuesObject:
          global:
            defaultStorageClass: longhorn-local
          auth:
            enabled: false
          image:
            repository: bitnamilegacy/redis
          architecture: replication
          replica:
            replicaCount: 2
    destination:
      server: https://kubernetes.default.svc
      namespace: database
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: knative-operator
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://knative.github.io/operator
      targetRevision: v1.18.1
      chart: knative-operator
    destination:
      server: https://kubernetes.default.svc
      namespace: knative-operator
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: mail
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: infrastructure
    source:
      repoURL: https://bokysan.github.io/docker-postfix
      targetRevision: 4.4.0
      chart: mail
      helm:
        valuesObject:
          existingSecret: mail-config
          config:
            general:
              TZ: "Europe/Berlin"
              ANONYMIZE_EMAILS: "smart"
          persistence:
            enabled: true
            storageClass: longhorn
    destination:
      server: https://kubernetes.default.svc
      namespace: mail
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: prod-mail
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: hyperswitch
    source:
      repoURL: https://bokysan.github.io/docker-postfix
      targetRevision: 4.4.0
      chart: mail
      helm:
        valuesObject:
          existingSecret: mail-config
          config:
            general:
              TZ: "Europe/Berlin"
              ANONYMIZE_EMAILS: "smart"
          persistence:
            enabled: true
            storageClass: linode-block-storage
    destination:
      name: lke560008-ctx
      namespace: mail
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: prod-cert
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: hyperswitch
    source:
      repoURL: https://github.com/whythatfunction/home-os
      targetRevision: HEAD
      path: charts/cert
    destination:
      name: lke560008-ctx
      namespace: cert-system
      helm:
        valuesObject:
          solvers:
            cloudflare:
              enabled: false
            http:
              enabled: true
              enabledStaging: false
            selfSigned:
              enabled: false
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: eg
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: oci://docker.io/envoyproxy/gateway-helm
      targetRevision: v0.0.0-latest
      path: .
      helm:
        valuesObject:
          config:
            envoyGateway:
              gateway:
                controllerName: gateway.envoyproxy.io/gatewayclass-controller
              logging:
                level:
                  default: info
              provider:
                type: Kubernetes
              extensionApis:
                # Not strictly required, but recommended for backward/future compatibility.
                enableEnvoyPatchPolicy: true
                # Required: Enable Backend API for AI service backends.
                enableBackend: true
              # Required: AI Gateway needs to fine-tune xDS resources generated by Envoy Gateway.
              extensionManager:
                hooks:
                  xdsTranslator:
                    translation:
                      listener:
                        includeAll: true
                      route:
                        includeAll: true
                      cluster:
                        includeAll: true
                      secret:
                        includeAll: true
                    post:
                      - Translation
                      - Cluster
                      - Route
                service:
                  fqdn:
                    # IMPORTANT: Update this to match your AI Gateway controller service
                    # Format: <service-name>.<namespace>.svc.cluster.local
                    # Default if you followed the installation steps above:
                    hostname: ai-gateway-controller.envoy-ai-gateway-system.svc.cluster.local
                    port: 1063
    destination:
      server: https://kubernetes.default.svc
      namespace: envoy-gateway-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: aieg-crd
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: oci://docker.io/envoyproxy/ai-gateway-crds-helm
      targetRevision: v0.0.0-latest
      path: .
    destination:
      server: https://kubernetes.default.svc
      namespace: envoy-ai-gateway-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: aieg
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    project: ai
    source:
      repoURL: oci://docker.io/envoyproxy/ai-gateway-helm
      targetRevision: v0.0.0-latest
      path: .
    destination:
      server: https://kubernetes.default.svc
      namespace: envoy-ai-gateway-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true