db:
  enabled: true
  instances: 2
  storage:
    size: 10Gi
    storageClass: longhorn
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1"

nocodb:
  env:
    NC_DB: # "pg://postgresql-host:5432?u=user&p=password&d=nocodb"
      valueFrom:
        secretKeyRef:
          name: nocodb-config
          key: nc_db
    NC_ALLOW_LOCAL_HOOKS: "true"
    NC_DISABLE_TELE: "true"
    
    DB_QUERY_LIMIT_DEFAULT: 12
    NC_PUBLIC_URL: "https://nocodb.ssegning.com"
    
    NC_SMTP_FROM: "no-reply@mail.ssegning.com"
    NC_SMTP_HOST: mail.mail.svc.cluster.local
    NC_SMTP_PORT: 587
    #NC_SMTP_SECURE: "false"
    #NC_SMTP_IGNORE_TLS: "false"
    
    #    NC_S3_BUCKET_NAME: nocodb-bucket
    #    NC_S3_ENDPOINT: "https://s3.ssegning.me"
    #    NC_S3_ACCESS_KEY: "nocodb-user"
    #    NC_S3_ACCESS_SECRET: "some-s3-secret"
    #    NC_S3_FORCE_PATH_STYLE: "true"
    NC_ATTACHMENT_FIELD_SIZE: "5242880"
    NC_SECURE_ATTACHMENTS: "true"
    NC_ATTACHMENT_EXPIRE_SECONDS: "3600"
    
    NC_AUTH_JWT_SECRET:
      valueFrom:
        secretKeyRef:
          name: nocodb-config
          key: jwt_secret
    
    NC_CONNECTION_ENCRYPT_KEY:
      valueFrom:
        secretKeyRef:
          name: nocodb-config
          key: encrypt_key
  
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: cert-cloudflare
      hosts:
        - host: nocodb.ssegning.com
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: nocodb-ssegning-com-tls
          hosts:
            - nocodb.ssegning.com