global:
  imageRegistry: container-registry.ssegning.com/docker
  security:
    allowInsecureImages: true

grafana-alloy:
  alloy:
    image: 
      repository: bitnamilegacy/grafana-alloy
    extraContainerPorts:
      - name: "otel"
        containerPort: 4317
      - name: "otel-http"
        containerPort: 4318
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: self-signed-ca
    hostname: alloy.home.ssegning
    tls: true
  configReloader: 
    enabled: false
    image: 
      repository: bitnamilegacy/configmap-reload