db:
  enabled: true
  instances: 1
  storage:
    size: 10Gi
    storageClass: longhorn
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1"

docuseal:
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 300m
      memory: 500Mi
  env:
    TZ: 'Africa/Douala'
    HOST: docuseal.ssegning.com
    REDIS_URL: redis://redis-master.database.svc.cluster.local:6379
    DATABASE_URL:
      valueFrom:
        secretKeyRef:
          name: docuseal-pg-app
          key: uri
    SMTP_ADDRESS: 'mail.mail.svc.cluster.local'
    SMTP_PORT: '587'
    SMTP_FROM: 'no-reply@team.ssegning.com'
    SMTP_ENABLE_STARTTLS_AUTO: 'false'
    ENCRYPTION_SECRET:
      valueFrom:
        secretKeyRef:
          name: docuseal-secret
          key: encryption_secret
    SECRET_KEY_BASE:
      valueFrom:
        secretKeyRef:
          name: docuseal-secret
          key: secret_key_base
  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      storageClass: sstorage
      type: pvc
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: cert-cloudflare
      hosts:
        - host: docuseal.ssegning.com
          paths:
            - path: /
              pathType: Prefix
              service:
                port: 3000