browserless:
  ingress:
    chrome:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: self-signed-ca
      className: traefik
      hosts:
        - host: browserless-chrome.home.ssegning
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: chrome
                port: http
      tls:
        - secretName: browserless-chrome.home.ssegning-tls
          hosts:
            - browserless-chrome.home.ssegning

  service:
    chrome:
      enabled: true
      annotations: { }
      type: ClusterIP
      controller: chrome
      ports:
        http:
          enabled: true
          port: 3000
          targetPort: 3000

  controllers:
    chrome:
      type: statefulset
      strategy: RollingUpdate
      replicas: 2
      pod:
        labels:
          app: chrome-app
      containers:
        chrome:
          image:
            repository: ghcr.io/browserless/chromium
            tag: "latest"
            pullPolicy: Always
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "Europe/Berlin"
            DEBUG: "browserless:*"

            TOKEN:
              valueFrom:
                secretKeyRef:
                  name: browserless-secret
                  key: token

            HEALTH: "true"
            MAX_MEMORY_PERCENT: "90"
            MAX_CPU_PERCENT: "90"

            CORS: "false"
            ALLOW_GET: "false"
            ALLOW_FILE_PROTOCOL: "false"

            CONCURRENT: "10"
            QUEUED: "30"
            TIMEOUT: "300000"

            DOWNLOAD_DIR: "/downloads"
            DATA_DIR: "/user_data"
            METRICS_JSON_PATH: "/metrics/metrics.json"
          resources:
            requests:
              cpu: 200m
              memory: 4Gi
            limits:
              cpu: 400m
              memory: 8G
          probes:
            liveness:
              enabled: false
              path: /pressure
              type: HTTP
              spec:
                httpGet:
                  port: http
            readiness:
              enabled: false
              path: /pressure
              type: HTTP
              spec:
                httpGet:
                  port: http
            startup:
              enabled: false
              path: /pressure
              type: HTTP
              spec:
                httpGet:
                  port: http
                failureThreshold: 30
                periodSeconds: 5

  persistence:
    browserless-downloads:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: longhorn
      size: 10Gi
      advancedMounts:
        chrome:
          chrome:
            - path: /downloads

    browserless-user-data:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: longhorn
      size: 10Gi
      advancedMounts:
        chrome:
          chrome:
            - path: /user_data

    browserless-metrics:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: longhorn
      size: 10Gi
      advancedMounts:
        chrome:
          chrome:
            - path: /metrics

    browserless-fonts:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: longhorn
      size: 10Gi
      advancedMounts:
        chrome:
          chrome:
            - path: /usr/share/fonts/custom
