controller:
  replicas: 1

redis:
  enabled: true

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: cert-cloudflare
    tls: true
    hostname: argocd.ssegning.me

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

notifications:
  argocdUrl: https://argocd.ssegning.me

configs:
  secret:
    createSecret: true
  cm:
    url: https://argocd.ssegning.me
    "resource.exclusions": |
      [ ]
  rbac:
    "policy.csv": |
      g, ArgoCDAdmins, role:admin
      g, ArgoCDViewer, role:readonly
