db:
  enabled: true
  instances: 2
  storage:
    size: 10Gi
    storageClass: longhorn
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1"

n8n:
  fullnameOverride: n8n
  image:
    pullPolicy: Always
    tag: "1.113.3"
  
  existingEncryptionKeySecret: "n8n-encryption-key-secret"
  
  log:
    level: debug
  
  timezone: "Europe/Berlin"
  
  db:
    type: postgresdb
  
  externalPostgresql:
    host: "n8n-apps-pg-rw"
    username: "app"
    database: "app"
    existingSecret: "n8n-apps-pg-app-bis"
  
  main:
    count: 1
    resources:
      requests:
        cpu: 100m
        memory: 1Gi
      limits:
        cpu: 512m
        memory: 2Gi
    volumes:
      - name: artifacts
        persistentVolumeClaim:
          claimName: artifacts-ssd
    volumeMounts:
      - name: artifacts
        mountPath: /tmp/artifacts

  worker:
    mode: queue
    count: 1
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 250Mi
      limits:
        cpu: 2000m
        memory: 2Gi
    volumes:
      - name: artifacts
        persistentVolumeClaim:
          claimName: artifacts-ssd
    volumeMounts:
      - name: artifacts
        mountPath: /tmp/artifacts

  taskRunners:
    mode: external
    maxConcurrency: 5
    external:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 2Gi
  
  externalRedis:
    host: "redis-master.database.svc.cluster.local"

  redis:
    enabled: false

  nodes:
    builtin:
      enabled: true
    external:
      allowAll: true
      reinstallMissingPackages: true
      packages:
        #- "@brave/n8n-nodes-brave-search"
        - "@splainez/n8n-nodes-phonenumber-parser"
        - "n8n-nodes-gemini-search"
        - "n8n-nodes-smart-memory"
        - "n8n-nodes-puppeteer --ignore-scripts"
        - "@couleetech/n8n-nodes-pandoc"
        - "moment"
        - "lodash"
    initContainer:
      resources:
        requests:
          cpu: 500m
          memory: 512Mi
        limits:
          cpu: 1000m
          memory: 1Gi

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: cert-cloudflare
    hosts:
      - host: n8n.ssegning.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: n8n-ssegning-com-tls
        hosts:
          - n8n.ssegning.com
  
  webhook:
    mode: queue
    url: "https://webhook.ssegning.com"
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 512m
        memory: 1Gi
  
  binaryData:
    mode: "filesystem"
    localStoragePath: /tmp/artifacts